article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: calc(1em + 1vw);
  font-family: 'Varela Round', sans-serif; }

img {
  max-width: 100%; }

ul {
  padding: 0; }

li {
  list-style: none; }

.wrapper {
  width: 95%;
  margin: 0 auto; }

input[type=checkbox] {
  display: none; }

input[type=radio] {
  display: none; }

input[type=submit] {
  display: block;
  margin: 20px auto;
  background-color: #EDE3D7;
  border: 5px solid #82B2E0;
  border-radius: 5px;
  padding: 15px; }

.logo {
  margin: 1rem 0; }
  .logo img {
    display: block;
    margin: 0 auto; }

header {
  height: auto;
  background-image: url(../../assets/background.jpg);
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem; }

input[type=search] {
  width: 35%;
  height: 20px;
  font-size: 1em;
  background-color: #FEC2AB;
  border: 6px solid #BF4558;
  border-radius: 5px;
  padding: 10px;
  margin: auto;
  display: block; }

.active {
  background-color: #FEC2AB;
  border: 3px solid #BF4558;
  color: black; }

label {
  font-size: 0.6em;
  padding: 0.3em 0.5em;
  margin: 0.2em;
  border: 3px solid transparent;
  cursor: pointer; }

label[for=search] {
  display: none; }

.allergies, .diets, .duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  color: white; }
  @media (max-width: 900px) {
    .allergies, .diets, .duration {
      width: 100%; } }

.recipe {
  padding: 0;
  margin: 0; }

.recipes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.recipe-item {
  background-color: #FDD4D4;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 25%;
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px; }

.recipe-title {
  text-align: center;
  height: 50px;
  margin: 20px 0;
  line-height: 0.9; }

.recipe-unique {
  text-align: center;
  margin: 30px 0 10px;
  height: 40px; }

.recipe-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 250px;
  height: 250px; }

.ingredients-all {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 30px; }

.ingredients-each {
  font-size: 0.7em; }

.duration-each {
  color: black; }
