article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

@-webkit-keyframes blink {
  0% {
    color: #7F7F7F;
    border: 5px solid #7F7F7F; }
  1% {
    color: #7F7F7F;
    border: 5px solid white;
    -webkit-box-shadow: inset 0 0 100px #fff, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
            box-shadow: inset 0 0 100px #fff, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff; }
  5% {
    color: #7F7F7F;
    border: 5px solid white;
    -webkit-box-shadow: inset 0 0 100px #fff, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
            box-shadow: inset 0 0 100px #fff, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff; }
  6% {
    color: #7F7F7F;
    border: 5px solid #7F7F7F;
    -webkit-box-shadow: inset 0 0 100px #fff, inset 20px 0 80px #080808, inset -20px 0 80px #001111, inset 20px 0 300px #080808, inset -20px 0 300px #001111, 0 0 50px #fff, -10px 0 80px #080808, 10px 0 80px #001111;
            box-shadow: inset 0 0 100px #fff, inset 20px 0 80px #080808, inset -20px 0 80px #001111, inset 20px 0 300px #080808, inset -20px 0 300px #001111, 0 0 50px #fff, -10px 0 80px #080808, 10px 0 80px #001111; }
  7% {
    color: white;
    border: 5px solid #7F7F7F;
    -webkit-box-shadow: inset 0 0 100px #fff, inset 20px 0 80px #080808, inset -20px 0 80px #001111, inset 20px 0 300px #080808, inset -20px 0 300px #001111, 0 0 50px #fff, -10px 0 80px #080808, 10px 0 80px #001111;
            box-shadow: inset 0 0 100px #fff, inset 20px 0 80px #080808, inset -20px 0 80px #001111, inset 20px 0 300px #080808, inset -20px 0 300px #001111, 0 0 50px #fff, -10px 0 80px #080808, 10px 0 80px #001111; }
  25% {
    color: white;
    border: 5px solid white;
    -webkit-box-shadow: inset 0 0 100px #fff, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
            box-shadow: inset 0 0 100px #fff, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff; }
  26% {
    color: #7F7F7F;
    border: 5px solid #7F7F7F;
    -webkit-box-shadow: inset 0 0 100px #fff, inset 20px 0 80px #080808, inset -20px 0 80px #001111, inset 20px 0 300px #080808, inset -20px 0 300px #001111, 0 0 50px #fff, -10px 0 80px #080808, 10px 0 80px #001111;
            box-shadow: inset 0 0 100px #fff, inset 20px 0 80px #080808, inset -20px 0 80px #001111, inset 20px 0 300px #080808, inset -20px 0 300px #001111, 0 0 50px #fff, -10px 0 80px #080808, 10px 0 80px #001111; }
  27% {
    color: white;
    border: 5px solid white;
    -webkit-box-shadow: inset 0 0 100px #fff, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
            box-shadow: inset 0 0 100px #fff, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff; }
  55% {
    color: white;
    border: 5px solid white; }
  56% {
    color: #7F7F7F;
    border: 5px solid white; }
  57% {
    color: white;
    border: 5px solid white; }
  85% {
    color: white;
    border: 5px solid white; }
  86% {
    color: #7F7F7F;
    border: 5px solid #7F7F7F; }
  87% {
    color: white;
    border: 5px solid white; }
  99% {
    color: white;
    border: 5px solid white; }
  100% {
    color: #7F7F7F;
    border: 5px solid #7F7F7F; } }

@keyframes blink {
  0% {
    color: #7F7F7F;
    border: 5px solid #7F7F7F; }
  1% {
    color: #7F7F7F;
    border: 5px solid white;
    -webkit-box-shadow: inset 0 0 100px #fff, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
            box-shadow: inset 0 0 100px #fff, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff; }
  5% {
    color: #7F7F7F;
    border: 5px solid white;
    -webkit-box-shadow: inset 0 0 100px #fff, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
            box-shadow: inset 0 0 100px #fff, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff; }
  6% {
    color: #7F7F7F;
    border: 5px solid #7F7F7F;
    -webkit-box-shadow: inset 0 0 100px #fff, inset 20px 0 80px #080808, inset -20px 0 80px #001111, inset 20px 0 300px #080808, inset -20px 0 300px #001111, 0 0 50px #fff, -10px 0 80px #080808, 10px 0 80px #001111;
            box-shadow: inset 0 0 100px #fff, inset 20px 0 80px #080808, inset -20px 0 80px #001111, inset 20px 0 300px #080808, inset -20px 0 300px #001111, 0 0 50px #fff, -10px 0 80px #080808, 10px 0 80px #001111; }
  7% {
    color: white;
    border: 5px solid #7F7F7F;
    -webkit-box-shadow: inset 0 0 100px #fff, inset 20px 0 80px #080808, inset -20px 0 80px #001111, inset 20px 0 300px #080808, inset -20px 0 300px #001111, 0 0 50px #fff, -10px 0 80px #080808, 10px 0 80px #001111;
            box-shadow: inset 0 0 100px #fff, inset 20px 0 80px #080808, inset -20px 0 80px #001111, inset 20px 0 300px #080808, inset -20px 0 300px #001111, 0 0 50px #fff, -10px 0 80px #080808, 10px 0 80px #001111; }
  25% {
    color: white;
    border: 5px solid white;
    -webkit-box-shadow: inset 0 0 100px #fff, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
            box-shadow: inset 0 0 100px #fff, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff; }
  26% {
    color: #7F7F7F;
    border: 5px solid #7F7F7F;
    -webkit-box-shadow: inset 0 0 100px #fff, inset 20px 0 80px #080808, inset -20px 0 80px #001111, inset 20px 0 300px #080808, inset -20px 0 300px #001111, 0 0 50px #fff, -10px 0 80px #080808, 10px 0 80px #001111;
            box-shadow: inset 0 0 100px #fff, inset 20px 0 80px #080808, inset -20px 0 80px #001111, inset 20px 0 300px #080808, inset -20px 0 300px #001111, 0 0 50px #fff, -10px 0 80px #080808, 10px 0 80px #001111; }
  27% {
    color: white;
    border: 5px solid white;
    -webkit-box-shadow: inset 0 0 100px #fff, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
            box-shadow: inset 0 0 100px #fff, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff; }
  55% {
    color: white;
    border: 5px solid white; }
  56% {
    color: #7F7F7F;
    border: 5px solid white; }
  57% {
    color: white;
    border: 5px solid white; }
  85% {
    color: white;
    border: 5px solid white; }
  86% {
    color: #7F7F7F;
    border: 5px solid #7F7F7F; }
  87% {
    color: white;
    border: 5px solid white; }
  99% {
    color: white;
    border: 5px solid white; }
  100% {
    color: #7F7F7F;
    border: 5px solid #7F7F7F; } }

@font-face {
  font-family: 'frunch';
  src: url(/assets/Frunch.ttf); }

html {
  font-family: 'Merriweather', sans-serif;
  font-size: 62.5%; }
  @media (max-width: 1000px) {
    html {
      font-size: 50%; } }
  @media (max-width: 700px) {
    html {
      font-size: 40%; } }

img {
  max-width: 100%; }

li {
  list-style: none; }

.wrapper {
  width: 90%;
  margin: 0 auto; }
  @media (max-width: 900px) {
    .wrapper {
      width: 95%; } }

.header-wrapper {
  width: 60%;
  margin: 0 auto; }
  @media (max-width: 1600px) {
    .header-wrapper {
      width: 80%; } }
  @media (max-width: 750px) {
    .header-wrapper {
      width: 90%; } }

.logo {
  margin: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .logo h1 {
    font-family: 'frunch', cursive;
    font-size: 5rem;
    text-align: center;
    color: white;
    margin: 0 auto;
    padding: 20px 60px;
    text-shadow: white 1px 0 10px;
    border: 10px solid white;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: inset 0 0 100px #fff, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
            box-shadow: inset 0 0 100px #fff, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
    -webkit-animation: blink 5s infinite;
            animation: blink 5s infinite; }
    @media (max-width: 1350px) {
      .logo h1 {
        padding: 10px 30px;
        font-size: 4rem;
        border: 1px solid white; } }

.titles {
  -ms-flex-item-align: center;
      align-self: center; }
  .titles h2 {
    position: absolute;
    left: 50%;
    font-family: 'frunch', cursive;
    font-size: 3rem;
    color: #fff;
    text-shadow: #106466 1px 0 10px;
    margin: 10px 0;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

input[type=checkbox],
input[type=radio] {
  display: none; }

.search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch; }

input[type=search] {
  font-family: 'frunch', cursive;
  text-transform: capitalize;
  width: 50%;
  font-size: 2rem;
  padding: 10px 20px;
  border: 6px double #EFA253;
  background-color: #fffda0;
  border-radius: 15px;
  color: #EFA253;
  text-shadow: 2px 2px 0px  #fff, -2px -2px 0px  #fff, 2px -2px 0px  #fff, -2px 2px 0px  #fff;
  margin: auto;
  display: block; }

input[type=search]::-webkit-input-placeholder {
  color: #EFA253;
  text-shadow: 2px 2px 0px  #fff, -2px -2px 0px  #fff, 2px -2px 0px  #fff, -2px 2px 0px  #fff; }

input[type=search]:-ms-input-placeholder {
  color: #EFA253;
  text-shadow: 2px 2px 0px  #fff, -2px -2px 0px  #fff, 2px -2px 0px  #fff, -2px 2px 0px  #fff; }

input[type=search]::-ms-input-placeholder {
  color: #EFA253;
  text-shadow: 2px 2px 0px  #fff, -2px -2px 0px  #fff, 2px -2px 0px  #fff, -2px 2px 0px  #fff; }

input[type=search]::placeholder {
  color: #EFA253;
  text-shadow: 2px 2px 0px  #fff, -2px -2px 0px  #fff, 2px -2px 0px  #fff, -2px 2px 0px  #fff; }

input[type=submit] {
  font-size: 2rem;
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: 6px double #EFA253;
  background-color: #fffda0;
  border-radius: 15px;
  color: #EFA253;
  text-shadow: 2px 2px 0px  #fff, -2px -2px 0px  #fff, 2px -2px 0px  #fff, -2px 2px 0px  #fff;
  font-family: 'frunch', cursive; }

.height {
  height: auto; }

header {
  height: 96vh;
  background-image: url(../../assets/background6.jpg);
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem; }
  @media (max-width: 350px) {
    header {
      height: auto; } }

.active {
  background-color: #D2E9E3;
  border: 3px solid white;
  color: black; }

label {
  font-size: 1.3rem;
  padding: 0.3em 0.5em;
  margin: 0.2em;
  border: 3px solid transparent;
  background-color: white;
  color: black;
  cursor: pointer; }

label:hover {
  background-color: #D2E9E3;
  border: 3px solid white;
  color: black; }

label[for=search] {
  display: none; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column; }

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  @media (max-width: 1000px) {
    .flex-wrapper {
      padding-top: 20px; } }

.flex-all {
  width: 100%;
  position: relative; }

.allergies, .diets, .duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 80%;
  color: white;
  margin: 30px auto;
  padding: 10px 15px;
  background-color: rgba(210, 233, 227, 0.3);
  border: 2px dashed #F7EEEE; }
  @media (max-width: 1600px) {
    .allergies, .diets, .duration {
      width: 90%; } }
  @media (max-width: 750px) {
    .allergies, .diets, .duration {
      width: 100%; } }

.searched-ingredient {
  text-transform: capitalize;
  display: none;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 3rem;
  font-family: 'frunch', cursive;
  margin: 0;
  padding: 5px 10px;
  border: 6px double #ff84a1;
  background-color: #FFE8D5;
  border-radius: 15px;
  color: #fca4a4;
  text-shadow: 2px 2px 0px  #fff, -2px -2px 0px  #fff, 2px -2px 0px  #fff, -2px 2px 0px  #fff; }

.searched-each {
  cursor: pointer;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.recipe {
  background: #D2E9E3;
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0; }

.recipe-wrapper {
  width: 90%;
  margin: 0 auto;
  display: none;
  padding: 40px 0; }

.recipes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.recipe-item {
  background-color: #F7F9FB;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 20%;
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.6); }
  @media (max-width: 1350px) {
    .recipe-item {
      width: 25%; } }
  @media (max-width: 300px) {
    .recipe-item {
      width: 90%; } }

.recipe-title {
  text-align: center;
  margin: 10px 0;
  font-size: 2rem;
  line-height: 1;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 6px double #ff84a1;
  background-color: #FFE8D5;
  border-radius: 15px;
  color: #fca4a4;
  text-shadow: 2px 2px 0px  #fff, -2px -2px 0px  #fff, 2px -2px 0px  #fff, -2px 2px 0px  #fff; }

.recipe-unique {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(222, 207, 152, 0.8)), to(rgba(222, 207, 152, 0.9)));
  background: linear-gradient(to bottom, rgba(222, 207, 152, 0.8), rgba(222, 207, 152, 0.9));
  padding: 10px;
  font-size: 2rem;
  position: absolute;
  text-align: center;
  bottom: 70px;
  color: #941B35; }

.recipe-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 250px;
  height: 250px;
  max-height: 250px;
  z-index: 5;
  margin: 30px auto;
  display: block; }

.recipe-img:hover {
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6); }

.ing-dur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.duration-each {
  font-size: 1.2rem;
  margin: 10px;
  padding: 10px;
  color: black;
  border: 1px solid black;
  font-weight: 400; }

.ingredients-title {
  font-size: 1.2rem;
  margin: 10px;
  padding: 10px;
  font-weight: 400;
  text-decoration: none;
  border: 1px solid black;
  color: black; }

.ingredients-title:hover {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); }

.ingredients-ul {
  width: 100%;
  height: 80%;
  position: absolute;
  background: rgba(255, 255, 255, 0.7); }

.ingredients-each {
  font-size: 0.5rem; }

.new-recipe {
  background-color: #DBE0E3; }

.two-sticks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.stick {
  background: -webkit-gradient(linear, left top, right top, from(#B4ABA3), color-stop(#877A6E), color-stop(#AC9E8F), color-stop(#B8AA9B), to(#CEC5B8));
  background: linear-gradient(to right, #B4ABA3, #877A6E, #AC9E8F, #B8AA9B, #CEC5B8);
  width: 10px;
  height: 100px; }

.stick:first-child {
  margin-right: 300px; }

.blue-board {
  width: 500px;
  height: 2000px;
  background-color: #2A3848;
  margin: 0 auto;
  position: relative; }

.menu {
  width: 100%;
  color: white;
  padding-top: 50px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px 90px 0; }

.menu > * {
  font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
  font-size: 3rem;
  text-shadow: 15px 15px 30px rgba(0, 0, 0, 0.6);
  z-index: 15; }

.searched-box {
  width: 450px;
  height: 200px;
  background-color: rgba(77, 92, 102, 0.7);
  position: absolute;
  top: 100px;
  left: 130px;
  -webkit-box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.6);
          box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.6); }

footer {
  background-color: lightslategray;
  height: 4vh; }

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%; }

footer p {
  font-size: 1.6rem;
  margin: 0;
  color: white; }
